extends layout.pug

block content
  h1 Books
  p
    a.button(href='/books/new') Create New Book

  form(action="/books/search/:query" method="post")
    p
      label(for='search') Search
      input#search(name='search' type='text')
      button(type='submit' value="search for a value") Search
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody.table-body
      each book in books 
          tr.row
              td
                  a(href=`/books/${book.id}`) #{book.title}
              td= book.author
              td= book.genre
              td= book.year
  div.page-buttons
  script(src='/javascripts/script.js')